version: "3.8"

services:
  postgres:
    image: postgres:16-alpine
    container_name: bootcamp-treinos
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: bootcamp-treinos
    volumes:
      - postgres_data:/var/lib/postgresql/data
  # cache:
  #   container_name: nest-clean-cache
  #   image: redis
  #   ports:
  #     - 6379:6379
  #   volumes:
  #     - ./data/redis:/data

volumes:
  postgres_data:
